{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container">
  <div class="page-header">
    <h3>Заполнение шаблона документа на обновление боя</h3>
  </div>
  <form method="post">
    <table class="table table-striped">
      <tr class="success">
        <th class="col-md-3">Поле для заполнения:</th>
        <th class="col-md-3">Текст:</th>
      <tr>
        {{range .Content}}
      <tr id="{{.Code}}">
        <td class="col-md-3">{{.Label}}</td>
        <td class="col-md-6"><input name="{{.Code}}" value="{{.Value}}" type="text" style=" width: 100%;"></td>
      </tr>
      {{end}}
    </table>
    <button type="submit" class="btn btn-primary">Сформировать</button>
  </form>
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}

